$color-list: ("primary": #00e258, "reverse-primary":#707070, "danger": rgb(201, 40, 0));
$border-color: rgb(77, 77, 77);
$surfaces: background, color;
$light-surface-color: #9f9991;
$super-ligh-surface-color: #f0f0f2;
